<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mosquito.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D41CDEFF1CF8E2D600772446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D41CDF131CF8E2D700772446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D41CDF1E1CF8E2D700772446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
